<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>Iniciar Sesión</strong>
            </h2>
            <hr>
        </div>
        <div class="col-lg-12 text-center">
            <div id="form">
                <form class="form-horizontal" method="POST" action="return false" onsubmit="return false" name="loginFormulario">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Usuario</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="vm.rootDataLogin.user" placeholder="Nombre de Usuario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Contraseña</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" ng-model="vm.rootDataLogin.pass" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" ng-click="vm.ValidateUser()" id="boton1" ng-disabled="!loginFormulario.$valid">Iniciar</button>
                        </div>
                    </div>
                </form>
            </div>    
            <div id="response"></div>
            <hr>
        </div>
    </div>
</div>