<div class="modal-header">
    <h3 class="modal-title">Información del Mensaje</h3>
</div>
<div class="modal-body">
    
    <form name="update_message_form">
        <div>
            <label for="update_message_form_id">Id: </label>
            <input type="text" 
                   id="update_message_form_id"
                   name="id"
                   ng-model="vm.messageModel.Id" 
                   class="form-control" 
                   readonly>
        </div>
        <div>
            <label for="update_message_form_name">Nombre: </label>
            <input type="text" 
                   id="update_message_form_name"
                   name="name"
                   ng-model="vm.messageModel.Name" 
                   class="form-control" 
                   ng-required="!vm.messageModel.IsReadOnlyMode"
                   ng-readonly="vm.messageModel.IsReadOnlyMode">
        </div>
        <div>
            <label for="update_message_form_message">Mensaje: </label>
            <textarea cols="50" 
                      id="update_message_form_message"
                      name="message"
                      rows="3" 
                      ng-model="vm.messageModel.Message" 
                      class="form-control" 
                      ng-required="!vm.messageModel.IsReadOnlyMode"
                      ng-readonly="vm.messageModel.IsReadOnlyMode">
            </textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" 
            type="button" 
            ng-click="vm.UpdateMessageByID()" 
            ng-disabled="!update_message_form.$valid"
            ng-if="!vm.messageModel.IsReadOnlyMode">
            Guardar
    </button>
    <button class="btn btn-warning" 
            type="button" 
            ng-disabled="!update_message_form.$valid && !vm.messageModel.IsReadOnlyMode"
            ng-click="vm.CloseModal()">
            Cerrar
    </button>
</div>