<style>
    .modal-body{
        height: 400px;
    }
</style>

<div class="modal-header">
    <h3 class="modal-title">Información del Contacto</h3>
</div>
<div class="modal-body">
    
    <form name="update_contact_form">
        <div>
            <label for="update_contact_form_name">Nombre: </label>
            <input type="text" 
                   id="update_contact_form_name"
                   name="name"
                   ng-model="vm.contactModel.Name" 
                   class="form-control" 
                   ng-required="!vm.contactModel.IsReadOnlyMode"
                   ng-readonly="vm.contactModel.IsReadOnlyMode">
        </div>
        <div>
            <label for="update_contact_form_email">Email: </label>
            <input type="text" 
                   id="update_contact_form_email"
                   name="email"
                   ng-model="vm.contactModel.Email" 
                   class="form-control" 
                   ng-required="!vm.contactModel.IsReadOnlyMode"
                   ng-readonly="vm.contactModel.IsReadOnlyMode">
        </div>
        <div>
            <label for="update_contact_form_phone">Celular: </label>
            <input type="text" 
                   id="update_contact_form_phone"
                   name="phone"
                   ng-model="vm.contactModel.Phone" 
                   class="form-control" 
                   ng-required="!vm.contactModel.IsReadOnlyMode"
                   ng-readonly="vm.contactModel.IsReadOnlyMode">
        </div>
        <div>
            <label for="update_contact_form_message">Mensaje: </label>
            <textarea cols="50" 
                      id="update_contact_form_message"
                      name="message"
                      rows="3" 
                      ng-model="vm.contactModel.Message" 
                      class="form-control" 
                      ng-required="!vm.contactModel.IsReadOnlyMode"
                      ng-readonly="vm.contactModel.IsReadOnlyMode">
            </textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" 
            type="button" 
            ng-click="vm.UpdateContactByID()" 
            ng-disabled="!update_contact_form.$valid"
            ng-if="!vm.contactModel.IsReadOnlyMode">
            Guardar
    </button>
    <button class="btn btn-warning" 
            type="button" 
            ng-disabled="!update_contact_form.$valid && !vm.contactModel.IsReadOnlyMode"
            ng-click="vm.CloseModal()">
            Cerrar
    </button>
</div>