<div class="row" id="formularioTiendas">
  <div class="container">
    <div class="thumbnail">
      <img ng-src="{{vm.bouquetDetail.Img}}" alt="Ramos">
      <div class="caption">
        <h3 class="centrado"><strong>{{vm.bouquetDetail.Name}}</strong></h3>
        <p class="centrado"><strong>Precio: </strong>{{vm.bouquetDetail.Price | currency: "$" : 0}}</p>
        <p class="centrado"><strong>Código: </strong>{{vm.bouquetDetail.Code}}</p>
        <p class="centrado"><strong>Característica: </strong>{{vm.bouquetDetail.Description}}</p>
        <p class="centrado">
    		  <a ui-sref="intensive.bouquet" class="btn btn-primary">Volver a la Galería</a>
	 	     </p>
      </div>
    </div>
  </div>
</div>